.nav{
    display: flex;
    justify-content: flex-end;
    background-color: #F5F5F5;;
}

.navbarBrand{
    color: #4D724D;
    text-decoration: none;
}

.navbarLink{
    color: #4D724D;
    text-decoration: none;
}

